@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./Fonts/MontserratAlternates-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('./Fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}